name: Publish SDKs

on:
  workflow_run:
    workflows: ["Go"]
    types:
      - completed

jobs:
  publish-sdks:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3' # Use the same Go version as your project

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25' # Use a recent Node.js version
          registry-url: 'https://npm.pkg.github.com' # Configure for GitHub Packages

      - name: Install openapi-generator-cli
        run: npm install -g @openapitools/openapi-generator-cli

      - name: Install swag CLI
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate SDKs
        run: make generate-sdk

      - name: Configure Git for Go SDK publishing
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global init.defaultBranch master
          git config --global push.default simple
          git config --global receive.denyNonFastforwards false
          git config --global pull.rebase false
          git config --global pull.ff false
          git config --global merge.ff false
          git config --global merge.stat false

      - name: Publish Go SDK to GitHub Packages
        working-directory: ./sdk/go
        run: |
          REPO_OWNER="${{ github.repository_owner }}"
          REPO_NAME="${{ github.event.repository.name }}"
          
          OLD_MODULE_PATH="github.com/GIT_USER_ID/GIT_REPO_ID"
          NEW_MODULE_PATH="github.com/${REPO_OWNER}/${REPO_NAME}-go-sdk"
          sed -i "s|${OLD_MODULE_PATH}|${NEW_MODULE_PATH}|g" go.mod

          # Execute git_push.sh to push the generated SDK to GitHub
          /bin/sh ./git_push.sh "${REPO_OWNER}" "${REPO_NAME}-go-sdk" "chore: Publish Golang SDK" "github.com"
        env:
          GIT_TOKEN: ${{ secrets.GIT_ACCESS }}

      - name: Publish TypeScript SDK to GitHub Packages
        working-directory: ./sdk/ts
        run: |
          REPO_OWNER="${{ github.repository_owner }}"
          REPO_NAME="${{ github.event.repository.name }}"
          
          OLD_MODULE_PATH="github.com/GIT_USER_ID/GIT_REPO_ID"
          NEW_MODULE_PATH="github.com/${REPO_OWNER}/${REPO_NAME}-ts-sdk.git"
          sed -i "s|${OLD_MODULE_PATH}|${NEW_MODULE_PATH}|g" package.json
          
          # Execute git_push.sh to push the generated SDK to GitHub
          /bin/sh ./git_push.sh "${REPO_OWNER}" "${REPO_NAME}-ts-sdk" "chore: Publish TypeScript SDK" "github.com"
        env:
          GIT_TOKEN: ${{ secrets.GIT_ACCESS }}
